version: "3.8"
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports: ["27017:27017"]
    volumes:
      - ./data/mongo:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports: ["5672:5672","15672:15672"]

  backend:
    build: ./backend-nestjs
    container_name: backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/gdash
      - JWT_SECRET=changeme
      - ADMIN_EMAIL=admin@example.com
      - ADMIN_PASS=123456
    ports: ["3000:3000"]
    depends_on:
      - mongo

  python-producer:
    build: ./python-producer
    container_name: python-producer
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - LAT=-8.0539
      - LON=-34.8811
      - INTERVAL_SEC=3600
    depends_on:
      - rabbitmq

  go-worker:
    build: ./go-worker
    container_name: go-worker
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
      - API_URL=http://backend:3000/api/weather
    depends_on:
      - rabbitmq
      - backend

  frontend:
    build: ./front-end
    container_name: frontend
    ports: ["5173:5173"]
    environment:
      - VITE_API_BASE_URL=http://localhost:3000/api
    depends_on:
      - backend
